body{
        margin-left:10px;
        margin-top:0;
        margin-bottom:0;
        font-family: Bitcount Prop Double;
    }
    .text{
        
        font-weight:bold;
        color:black;
        font-size:45px;
        text-align:left;
        width:600px;
        line-height:45px;
        margin-bottom:0;


    }
    .view{
        margin-top:0;
        color:grey;

       padding-top:8px;
       
    }
    .mar{
        color: black;
        margin-top:5px;
        font-weight:normal;
    }
    .con{
        width:400px;
       
        color:black;
        font-size:14px;
        line-height:18px;


    }
    .sh{
        background-color: red;
        margin-top: 60px;
        color:white;
        padding-left: 135px;
        text-align: center;

      

        padding-top:20px;
        padding-bottom:20px;
    }
    .link{
        color:white;
    }
    